<a href="https://colab.research.google.com/github/blakelobato/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
cols1 = ['Class Name','handicapped-infants','water-project-cost-sharing', 'adoption-of-the-budget-resolution','physician-fee-freeze','el-salvador-aid','religious-groups-in-schools','anti-satellite-test-ban','aid-to-nicaraguan-contras','mx-missile','immigration','synfuels-corporation-cutback','education-spending','superfund-right-to-sue','crime','duty-free-exports','export-administration-act-south-africa']

In [0]:
dict1 = {'?': 'NaN'}

In [0]:
hv = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=cols1)
hv.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
hv = hv.replace('n', 0)
hv = hv.replace('y', 1)
hv = hv.replace('?', None)
hv.head()

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                       1
1  republican  ...                                       1
2    democrat  ...                                       0
3    democrat  ...                                       1
4    democrat  ...                                       1

[5 rows x 17 columns]

In [0]:
hv.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           435.000000  ...                              435.000000
mean              0.441379  ...                                0.788506
std               0.497123  ...                                0.408838
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               0.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 15 columns]

In [0]:
hv.describe(exclude='number')

       Class Name  synfuels-corporation-cutback
count         435                           435
unique          2                             3
top      democrat                             0
freq          267                           279

In [0]:
hv.isna().sum()

Class Name                                0
handicapped-infants                       0
water-project-cost-sharing                0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-aid                           0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
immigration                               0
synfuels-corporation-cutback              0
education-spending                        0
superfund-right-to-sue                    0
crime                                     0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

In [0]:
#need arrays of two issues that are seperated by party
#pval of <.01 for both sides of argument 
#immigration proll
#Null Hypothesis (aka status quo, boring hypothesis):  𝜇1==𝜇2 
#Alternative Hypothesis: e.g.  𝜇1=/=𝜇2 
#t-statistic
#p-value

In [0]:
#null. republicans on average vote yes the same as democrats vote yes on immigration
#alt. republicans dont vote yes the same as democrats vote yes on immigration

In [0]:
#republican and democrat data frames

In [0]:
dem = hv[hv['Class Name'] == 'democrat']
dem.head()
dem.shape

(267, 17)

In [0]:
dem.dtypes

Class Name                                object
handicapped-infants                       object
water-project-cost-sharing                object
adoption-of-the-budget-resolution         object
physician-fee-freeze                      object
el-salvador-aid                           object
religious-groups-in-schools               object
anti-satellite-test-ban                   object
aid-to-nicaraguan-contras                 object
mx-missile                                object
immigration                               object
synfuels-corporation-cutback              object
education-spending                        object
superfund-right-to-sue                    object
crime                                     object
duty-free-exports                         object
export-administration-act-south-africa    object
dtype: object

In [0]:
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           267.000000  ...                              267.000000
mean              0.599251  ...                                0.865169
std               0.490971  ...                                0.342185
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 15 columns]

In [0]:
rep = hv[hv['Class Name'] == 'republican']
rep.head()
rep.shape

(168, 17)

In [0]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           168.000000  ...                              168.000000
mean              0.190476  ...                                0.666667
std               0.393851  ...                                0.472814
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 15 columns]

In [0]:
repimm = rep['immigration']
repimm
#repimm

0      1
1      0
7      0
8      0
10     0
11     0
14     0
15     1
18     0
28     0
30     0
33     0
35     0
36     1
37     0
38     1
49     0
51     0
53     1
55     1
56     1
57     1
58     1
59     1
61     0
65     0
66     0
67     1
71     1
73     1
      ..
356    0
357    0
359    1
363    1
364    0
369    0
374    0
377    0
378    0
379    0
392    0
393    0
399    1
400    0
401    1
402    1
403    1
404    1
405    0
409    0
410    0
412    1
413    1
416    1
420    1
427    1
430    1
432    0
433    0
434    1
Name: immigration, Length: 168, dtype: int64

In [0]:
demimm = dem['immigration']
#repimm

In [0]:
repe = rep['education-spending']
#repe
deme = dem['education-spending']
#deme

In [0]:
ttest_ind(repe,deme,equal_var=False)

Ttest_indResult(statistic=18.723227127929913, pvalue=4.090670663548827e-54)

Based on the above pvalue we reject the null hypothesis that republicans agree with education spending as much as the democrats
  

#Above Satisfies Question 3 for assignment

In [0]:
repa = rep['adoption-of-the-budget-resolution']
#repe
dema = dem['adoption-of-the-budget-resolution']
#deme

In [0]:
ttest_ind(dema, repa,equal_var=False)

Ttest_indResult(statistic=22.371194773871636, pvalue=1.4563462351107274e-69)

 Based on the above pvalue we reject the null hypothesis that democrats agree with adoption of the budget resolutipn as the republican

#Above Satisfies Question 2 for assignment

In [0]:
repw = rep['water-project-cost-sharing']
#repe
demw = dem['water-project-cost-sharing']
#deme

In [0]:
ttest_ind(demw, repw,equal_var=False)

Ttest_indResult(statistic=0.17214291206325674, pvalue=0.8634233085477663)

Based on the above pvalue we fail to reject the null hypothesis that democrats agree with water porject cost sharing as much as the republican

#Above Satisfies Question 4 for assignment